.houses-list {
	width: 100%;
	height: 100%;
	flex: 1;
	overflow-y: auto;
	box-sizing: border-box;
	padding: 0.5rem;

	&-item {
		box-sizing: border-box;
		width: 100%;
		padding: 0.5rem 0;
		border-bottom: 1px solid #eee;
		display: flex;

		&:last-child {
			border-bottom: none;
		}

		.right-content {
			flex: 1;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			margin-left: 1rem;

			.title {
				font-size: 1rem;
			}

			.desc {
				font-size: 0.8rem;
				color: #afb2b3;
			}

			.price_ {
				font-size: 0.8rem;
				color: #fa5741;

				& > span {
					font-size: 1rem;
					font-weight: bolder;
				}
			}
		}
	}
}
