.houses-list {
	width: 100%;
	height: 100%;
	flex: 1;
	overflow-y: auto;

	&-item {
		box-sizing: border-box;
		padding: .5rem 0;
		border-bottom: 1px solid #eee;
		display: flex;

		&:last-child {
			border-bottom: none;
		}

		.right-content {
			flex: 1;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			margin-left: 1rem;

			& > h3,
			& > div {
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
				vertical-align: middle;
			}

			.title {
				font-size: 1rem;
			}

			.desc {
				font-size: .8rem;
				color: #afb2b3;
			}

			.price_ {
				font-size: .8rem;
				color: #fa5741;

				& > span {
					font-size: 1rem;
					font-weight: bolder;
				}
			}

			.tags {
				margin: .1rem;

				.tag_ {
					display: inline-block;
					font-size: .8rem;
					border-radius: .3rem;
					box-sizing: border-box;
					padding: .2rem;
					margin-right: .5rem;
					line-height: .8rem;
				}
  
				.tag_0 {
					color: #f90;
					background: #fdf6ec;
				}
  
				.tag_1 {
					color: #39becd;
					background: #e1f5f8;
				}
  
				.tag_2 {
					color: #3fc28c;
					background: #e1f5ed;
				}
  
				.tag_3 {
					color: #5aabfd;
					background: #e6f2ff;
				}
  
				.tag_4 {
					color: #fa3534;
					background: #fef0f0;
				}
			}
		}
	}
}
