.container {
	width: 100%;
	box-sizing: border-box;
	padding: .8rem 1rem;

	.title {
		font-size: 1.4rem;
		margin: 1rem 0;
	}

	.chart {
		color: #6f6f6f;
		height: 20rem;
		width: 100%;
	}

	.list {
		margin-top: 2rem;

		.item {
			margin-bottom: 1rem;
			font-size: 1rem;
			display: flex;
			align-items: center;

			.name {
				margin: 0 1.5rem 0 0.3rem;
				flex-grow: 0;
				flex-shrink: 0;
			}

			.progress {
				flex: 1;
			}

			.total {
				text-align: right;
				margin-left: 0.3rem;
				flex-grow: 0;
				flex-shrink: 0;
				width: 7.5rem;
			}
		}
	}
}
