body {
	margin: 0;
	padding: 0;
	font-size: 62.5%; // 以10px为基数,此时class为a的标签字体大小为20px
	::-webkit-scrollbar {
		width: 4px;
	}

	/* 滚动条 */
	::-webkit-scrollbar-thumb {
		box-sizing: border-box;
		border-radius: 10px;
		box-shadow: inset 0 0 5px rgb(0 0 0 / 20%);
		background: #66cdc4;
	}

	/* 滚动条框 */
	::-webkit-scrollbar-track {
		box-shadow: inset 0 0 5px rgb(0 0 0 / 20%);
		border-radius: 0;
		background: rgb(245 241 241);
		box-sizing: border-box;
	}
}

.App {
	width: 100vw;
	overflow: hidden;
	background-color: $color-background;
	display: flex;
	flex-direction: column;
}
.App__has-tab {
	height: calc(100vh - 4.5rem);
}
.App__not-tab {
	height: 100vh;
}

.demo-page {
	background-color: #4f4d4d;
	color: #dbd5d5;
	width: 100vw;
	height: 100vh;
}

.tabbar {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 4rem;
	background-color: white;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
}