$font-color: #868686;

.container {
	height: 60vh;
	background-color: #fff;
	box-sizing: border-box;
	padding-top: 1rem;
	border-top-left-radius: 1rem;
	border-top-right-radius: 1rem;

	.header {
		box-sizing: border-box;
		padding: 0 1.6rem;

		.close {
			display: flex;
			align-items: center;
			justify-content: flex-end;
		}
	}

	.filter {
		box-sizing: border-box;
		padding: 1rem 1.5rem;

		.type {
			display: flex;
			justify-content: flex-end;

			span {
				background: #f5f5f5;
				color: $font-color;
				padding: 0.3rem 0.8rem;
				font-size: 1rem;
				border-radius: 0.3rem;
				border: 1px solid #f5f5f5;
				margin-right: 0.8rem;
			}

			.expense-active {
				background-color: #eafbf6;
				border-color: $color-theme;
				color: $color-theme;
			}

			.income-active {
				background-color: #fbf8f0;
				border-color: $color-theme-d;
				color: $color-theme-d;
			}

			.time {
				display: flex;
				justify-content: center;
				align-items: center;
				margin-left: auto;
				color: #000;
			}
		}
	}

	.money {
		box-sizing: border-box;
		padding-bottom: 1rem;
		border-bottom: 1px solid #e9e9e9;
		margin: 0 2rem;

		.sufix {
			font-size: 3.5rem;
			font-weight: bold;
			vertical-align: center;
		}

		.amount {
			font-size: 4rem;
			box-sizing: border-box;
			padding-left: 1rem;
			vertical-align: center;
		}
	}

	.type-warp {
		display: flex;
		overflow-x: hidden;
		overflow-y: scroll;
		height: 12rem;
		margin: 0 2rem;
		margin-bottom: 1.8rem;
		scrollbar-width: none; // firefox
		-ms-overflow-style: none; // ie 10+
		&::-webkit-scrollbar {
			display: none; // chrome safari
		}

		.type-body {
			display: flex;
			flex-wrap: wrap;
			font-size: 1rem;
			color: #bbb;

			.type-item {
				display: flex;
				flex-direction: row;
				align-items: center;
				box-sizing: border-box;
				padding: 0.5rem;
				margin: 0.5rem;
				border-radius: 0.8rem;
				width: 100%;
				background-color: #f5f5f5;
				font-size: 1.3rem;
				color: $font-color;

				.iconfont-wrap {
					background-color: #f5f5f5;
					border-radius: 50%;
					width: 2rem;
					height: 2rem;
					margin-right: 1rem;
				}

				.name {
					flex: 1;
				}

				&.active {
					.expense {
						background-color: $color-theme;
						color: #fff;
					}

					.income {
						background-color: $color-theme-d;
						color: #fff;
					}

					.name {
						color: #262626;
					}
				}
			}
		}
	}

	.remark {
		box-sizing: border-box;
		padding: 0 1rem;
		color: #495a86;
		font-size: 2rem;

		.show {
			display: inline-block;
			width: 95%;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
		}

		:global {
			.za-input--textarea {
				border: 1px solid #e9e9e9;
				padding: 1rem;
			}

			input {
				font-size: 2rem;
				box-sizing: border-box;
				padding: 0 2rem;
				padding-bottom: 1rem;
				color: #495a86;
			}
		}
	}
}

.expense {
	:global(.adm-number-keyboard-key.adm-number-keyboard-key-ok) {
		background-color: $color-theme;
	}
}

.income {
	:global(.adm-number-keyboard-key.adm-number-keyboard-key-ok) {
		background-color: $color-theme-d;
	}
}
