.home-pages {
	background-color: #EDEDED;
	box-sizing: border-box;
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;

	.header {
		color: #fff;
		width: 100%;
		min-height: 6rem;
		background-color: $color-theme;
		box-sizing: border-box;
		padding: 1.8rem .8rem 1rem 0;
		font-size: 1rem;

		.bottom {
			display: flex;
			margin: 1.2rem 0 0 .8rem;
			font-size: .9rem;

			.left {
				margin-right: 1rem;

				.time {
					margin-right: .3rem;
				}
			}

			.right {
				flex: 1;
				display: flex;

				.income {
					margin-left: 1rem;
				}
			}
		}

		.top{
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-around;
			background-color: #45b370;
			border-radius: .5rem;
			box-sizing: border-box;
			padding: .7rem;
			width: 10rem;

			.tag-name {
				flex: 1;
				white-space: nowrap;	// 文本不换行，只显示一行文字
				overflow: hidden;	// 超出内容框的隐藏
				text-overflow: ellipsis;	// 用省略号显示超出的部分
			}
		}
	}

	.list {
		flex: 1;
		font-size: 1rem;
		box-sizing: border-box;
		padding: .8rem;
		overflow-y: auto;
	}

	.add {
		position: fixed;
		font-size: 1rem;
		font-weight: bold;
		bottom: 5.2rem;
		right: 2rem;
		z-index: 1000;
		border-radius: 5rem;
		box-sizing: border-box;
		padding: .5rem;
		box-shadow: 0 0 1rem 0 rgb(0 0 0 / 20%);
		background-color: #fff;
		display: flex;
		justify-content: center;
		align-items: center;
		border: 1px solid #e9e9e9;
		color: $color-theme;
	}
}