.container {
	width: 100%;
	height: 100%;
	overflow-y: auto;

	// background-color: $color-theme;

	.userInfo {
		width: 100%;
		height: 22rem;
		position: relative;

		.bg {
			width: 30rem;
			height: 30rem;
			border-radius: 50%;
			overflow: hidden;
			position: absolute;
			top: -15rem;
			left: 50%;
			transform: translateX(-50%);
			z-index: 1;
		}

		.user-content {
			box-shadow: 0 0.1rem 0.5rem #eee;
			background-color: #fff;
			border-radius: 0.6rem;
			width: 25rem;
			height: 8rem;
			box-sizing: border-box;
			padding: .5rem 2rem;
			position: absolute;
			top: 9rem;
			left: 50%;
			transform: translateX(-50%);
			z-index: 2;
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			align-items: center;

			.user-avactor {
				position: absolute;
				width: 5rem;
				height: 5rem;
				overflow: hidden;
				box-shadow: 0 1px 1px #999;
				border-radius: 50%;
				top: -3rem;
			}

			.user-font {
				text-align: center;
				margin-top: 3rem;
			}
		}
	}

	.grid-item {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		margin-bottom: .5rem;

		&-label {
			margin-top: .5rem;
			font-size: 1rem;
		}
	}

	.card {
		background-color: gainsboro;
		box-sizing: border-box;
		padding: .5rem;
		margin-top: 1rem;
	}
}
